.container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
}

.content {
  flex: 1;
}
.content > p{
  text-align: justify;
}
h1 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

img {
  max-width: 100%;
  height: auto;
}


.card-wrapper {
  display: flex;
}

.card-wrapper i {
  color: rgb(255, 117, 4) !important;
}

.row {
  min-width: 100%;
  justify-content: space-between;
}